body {
  font-family: "Righteous", "Roboto", sans-serif;
  /* font-family: "Roboto", sans-serif;
    font-family: "Inter", sans-serif;  */
  background-image: url("../imgs/Vector\ 2.jpg");
  background-repeat: no-repeat;
  background-size: 1000px;
}

:root {
  --main-color: #976e72;
  --second-color: #d5b8b8;
  --gray-text: #00000080;
  --main-transtion: 0.2s;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start landing */

/* End landing */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  position: relative;
}
/* Start Cart page */
.cart-page {
  /* background-image: url('../imgs/Vector\ 2.jpg'); */
}
/* End Cart page */
/* Start headerr */

.logo img {
  width: 120px;
}

.logo img {
  /* filter:blur(#976e72); */
  filter: opacity(50%);
  /* filter: sepia(100%); */
}
.nav .menu {
  display: none;
}
.headerr {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.headerr li {
  font-family: Righteous;
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
}

.headerr li a {
  text-decoration: none;
  color: black;
}
.headerr li:first-child > a {
  color: var(--main-color);
}
.headerr li a:hover {
  color: var(--main-color);
  border-bottom: 4px solid var(--main-color);
  transition: var(--main-transtion);
}

.register {
  display: flex;
  gap: 24px;
  align-items: center;
}

.register img {
  width: 30px;
  gap: 10px;
}

.button {
  width: 90px;
  padding: 8px, 24px, 8px, 24px;
  border-radius: 32px;
  border: 1px solid;
  border-color: var(--main-color);
  background-color: white;
}

.button span {
  font-family: Righteous;
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .logo img {
    width: 100px;
  }
  .nav .menu {
    display: block;
  }
  .headerr {
    display: none;
  }

  .register {
    gap: 7px;
  }
}

@media (max-width: 991px) {
  .headerr {
    gap: 10px;
  }
  .headerr li {
    font-size: 17px;
  }
  .register {
    gap: 20px;
  }
}
/* End headerr */

/* Start Content */

.title {
  padding-left: 28px;
  padding-top: 10px;
  font-size: 27px;
}

.title h2 {
  border-bottom: 6px solid #000000b8;
  width: 210px;
  padding-bottom: 20px;
}
/* Start Table  */
.res {
  display: none;
}
.table {
  margin-top: 110px;
  padding-left: 30px;
}
.table tr td {
  margin-bottom: 20px;
  margin-left: 20px;
}
.table tr .cell-on {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.table tr div {
  margin: 0;
}

.table tr .cell-on p {
  margin-left: 0;
  width: 207px;
  line-height: 50px;
  text-align: left;
}
table thead td .one {
  margin-left: 242px;
}
.table td p {
  margin-left: 130px;
  width: 70px;
  text-align: center;
}
.table img {
  width: 200px;
}

@media (max-width: 767px) {
  .table {
    display: none;
  }
  .res {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    gap: 47px;
    text-align: center;
    margin-top: 176px;
  }
  .res img {
    width: 150px;
  }
  .res div {
    padding-bottom: 20px;
  }
}
/* End Table */

@media (min-width: 768px) and (max-width: 1130px) {
  .table {
    display: none;
  }
  .res {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
    gap: 68px;
    text-align: center;
    margin-top: 176px;
  }
  .res img {
    width: 250px;
  }
  .res div {
    padding-bottom: 20px;
  }
}